In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Natal,BR,2022-01-09 23:44:51,-5.7950,-35.2094,82.62,78,20,10.36
1,1,Sorland,NO,2022-01-09 23:44:51,67.6670,12.6934,32.34,62,4,8.90
2,2,Rikitea,PF,2022-01-09 23:44:52,-23.1203,-134.9692,78.24,79,100,19.19
3,3,East London,ZA,2022-01-09 23:40:52,-33.0153,27.9116,73.00,89,82,18.90
4,4,Saint Anthony,US,2022-01-09 23:44:52,45.0205,-93.2180,4.93,60,0,3.00

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))